{#{% extends "base.template.html.twig" %}
#}
{% block body %}
<div>
<input type="text">
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('script/js/artiste.js')}}">
{% endblock %}