{# empty Twig template #}
<div id="#showArtistes">
    <button class="success" onclick="getArtistes()"/>
</div>
{% block javascripts %}
    <script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"></script>
 <script src="{{asset("./script/js/app.js")}}" ></script>
 <script src="{{asset("./script/js/recherche.js")}}" ></script>
  <script src="{{asset("./script/js/rendering.js")}}" ></script>
{% endblock %}