{% extends "admin/adminTemplate.html.twig" %}


{% block body %}

    <form action="{{ path('valideNomLieux')}}" method="post">
        <input type="text" name="nomSerie"  placeholder="Nom de la nouvelle serie">
        <input type="submit">
    </form>
        
    {% for place in places %}
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <a href="/hote/get/lieu/{{place.id}}">
                    <p>{{place.name}}<p>
{#                    <img class="img-thumbnail" src="/web/images/oeuvrePictures/" >
#}              </a>
            </div>
        </div>

    {% endfor %}
{% endblock %}