.profil{
    height: 200px !important;
    /*width: 200px !important;*/
    background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRhCzI7HPbx-c1ukD80OYVy-7VNmuNxaZfD-Juf9SalOHeOV_P18A');
    background-position: center;
    background-repeat: no-repeat;
    /*padding: 10px;*/
}

.containerThumb > .thumbnail > .caption{
    padding:0px 50px 0px 50px;
}
.sizeScreen{
    background-color: $colorMid 
}
