/*.foot{
    position : fixed;
    padding: 3%;
    bottom : 0;
    width:100%;
    background-color: white;
}*/

.row{
    background-color: white;  
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

 .navigation{
      box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.3);
 //    position: fixed;
 //     top:0;


}


.roundedimg {
    overflow:hidden;
    border-radius:50px;
    border-radius:50px;
    width:40px;
    height:40px;

}

.btn-link {
    color:black;
}

.footerr {
    
    background-color: gray;

    height:  125px;
    bottom : 0;
    padding-bottom: 3em;

}

.contentLEFT{
    background-color: yellow;
}

.contentRIGHT {
    background-color: yellowgreen;
}

//.degrade {  
//background-color:linear-gradient(grey, black);
//}