.red {
     background-color: red;
     height: 300px;
}

.blue {
     background-color: blue;
     height: 300px;
}

.reda {
     background-color: black;
     height: 300px;
}

.reds {
     background-color: lime;
     height: 300px;
}

.redx {
     background-color: yellow;
     height: 300px;
}

body {
    
}

.avatar {
    margin : 30px;
    margin-top: 40px;
}

.presentation {
    margin: 50px;
}