.red {
     background-color: red;
     height: 300px;
}

.blue {
     background-color: blue;
     height: 300px;
}

.reda {
     background-color: black;
     height: 300px;
}

.reds {
     background-color: lime;
     height: 300px;
}

.redx {
     background-color: yellow;
     height: 300px;
}

body {
    
}

.avatar {
    margin : 30px;
    margin-top: 40px;
}

.info {
    background-color: orange;
    height : 300px;
}

.collaboration {
    background-color: lime;
    height: 400px;
    border: 2px solid black;
}

.itemUn{
        background-color: lightsalmon;
    height: 200px;
}

.itemDeux{
       background-color: grey;
    height: 200px; 
}

/* test section */

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery_product
{
    margin-bottom: 30px;
}
.presentation {
    margin: 50px;
}
